# Virtual environment
.venv/

# Dataset
image_data/

# Python cache
__pycache__/
*.py[cod]

# Training outputs
outputs/*
!outputs/evaluation/
!outputs/evaluation/**
!outputs/figures/
!outputs/figures/**

# Ignore model checkpoints and TensorBoard event files
outputs/checkpoints/
outputs/tensorboard/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Operating system
.DS_Store
Thumbs.db

# Local test images
images_to_test/

# VS Code workspace files
*.code-workspace